body,
html {
  margin: 0;
  padding: 0;
}

.nested {
  display: grid;
}

.container {
  background: black;
  text-align: center;
  padding: 0.5rem;
}

header {
  nav {
    grid-template-columns: 1fr;
    background: black;

    img {
      display: none;
      background: purple;
      width: 100%;
      min-width: 40px;
    }

    h1 {
      background: orange;
      text-align: center;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    ul {
      background: green;
      text-align: center;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        text-decoration: none;
        list-style-type: none;

        a {
          list-style-type: none;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

main {
  background: black;
  grid-gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    margin: auto;
    border: 1px solid red;
    border-radius: 5px;
  }

  a:hover {
    border: 3px solid white;
  }

  article {
    background: red;
    padding: 0.5rem;  

    img {
      max-width: 200px;
      max-height: 200px;
    }

    p {
      margin: 0;
      text-align: justify;
    }
  }
}

footer {
  .workers {
    background: lightgrey;
  }

  .links {
    background: darkgrey;
  }

  .copyright {
    background: grey;
  }
}
/*-------------------- Medias --------------------*/
@media screen and (min-width: 500px) {
  header {
    nav {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "a b" "a c";

      img {
        grid-area: a;
        display: block;
      }

      h1 {
        grid-area: b;
      }

      ul {
        grid-area: c;
      }
    }
  }
}
@media screen and (min-width: 900px) {
  .container {
    padding: 1rem;
  }

  main {
    background: black;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1280px) {
  main {
    background: black;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/*-------------------- Medias --------------------*/
